/node_modules
.env

/.vscode

changeofferingsjson.py
convtotitlecase.py
LEGAL.md
perktojson.py
spacetodash.py
TestBalanceInDev.json

AddonUpdate

# Ignore everything in the png_to_webp except for the script itself
/png_to_webp/*
!/png_to_webp/convert_to_webp.py

# Ignore everything in the webp_to_png except for the script itself
/webp_to_png/*
!/webp_to_png/convert_to_png.py

testCanvasGen.js
test.png

# Ignore everything in the addon combination folders
utilities/addon-combine-tool/addon-list.json
utilities/addon-combine-tool/addon-images/*
utilities/addon-combine-tool/output/*
utilities/image-resizer/input/*
utilities/image-resizer/output/*

utilities/hue-shift-tool/input/*
utilities/hue-shift-tool/output/*

public/BalancingPresets/Autobalance/*
autobalance-info/*

public/Balancings.json

test_item_showcase.json

testImportInfo.txt

