<!DOCTYPE html>
html
    head 
        title Dead by Daylight Balance Checker
        link(rel="stylesheet", href="/stylesheets/balance-checker.css")
        link(rel="icon", href="iconography/favicon.ico" type="image/x-icon")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js")
        script(src="/scripts/balance-checker.js", type="text/javascript", defer="defer")
        script(src="/socket.io/socket.io.js" type="text/javascript")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body(onload="main()")
        div#primary-balance-container
            div#balance-tabs-container
                div.tier-selector-button(hidden="hidden" onclick="alert('This feature is coming soon!')")
                    img(src="iconography/Multiplayer.webp")
                div.tier-selector-button(hidden="hidden" onclick="alert('This feature is coming soon!')")
                    img(src="iconography/Chat.webp")
                div#settings-button(class="tier-selector-button")
                    img(src="iconography/Settings.webp")
                div#discord-button(class="tier-selector-button" onclick="window.open('https://discord.gg/E6zfpwvCce', '_blank')")
                    img(src="iconography/Discord.webp")
                div#maps-button(class="tier-selector-button")
                    img(src="iconography/Maps.webp")
                div#role-swap-button(class="tier-selector-button")
                    img#role-swap-icon(src="iconography/Killer.webp")
                div.tier-selector-button(onclick="window.location.href = '/'")
                    img(src="iconography/Logo-Shadow.webp")
            div#balance-character-select-container
                h1 Killer Selection
                div#character-select-grid(class="override-scrollbar")
                    div.character-select-button(data-killerID="0")
                        img(src="iconography/portraits/Trapper.webp")
                    div.character-select-button(data-killerID="1")
                        img(src="iconography/portraits/Wraith.webp")
                    div.character-select-button(data-killerID="2")
                        img(src="iconography/portraits/Hillbilly.webp")
                    div.character-select-button(data-killerID="3")
                        img(src="iconography/portraits/Nurse.webp")
                    div.character-select-button(data-killerID="4")
                        img(src="iconography/portraits/Shape Variant.webp")
                    div.character-select-button(data-killerID="5")
                        img(src="iconography/portraits/Hag.webp")
                    div.character-select-button(data-killerID="6")
                        img(src="iconography/portraits/Doctor.webp")
                    div.character-select-button(data-killerID="7")
                        img(src="iconography/portraits/Huntress.webp")
                    div.character-select-button(data-killerID="8")
                        img(src="iconography/portraits/Cannibal.webp")
                    div.character-select-button(data-killerID="9")
                        img(src="iconography/portraits/Nightmare.webp")
                    div.character-select-button(data-killerID="10")
                        img(src="iconography/portraits/Pig.webp")
                    div.character-select-button(data-killerID="11")
                        img(src="iconography/portraits/Clown.webp")
                    div.character-select-button(data-killerID="12")
                        img(src="iconography/portraits/Spirit.webp")
                    div.character-select-button(data-killerID="13")
                        img(src="iconography/portraits/Legion Full.webp")
                    div.character-select-button(data-killerID="14")
                        img(src="iconography/portraits/Plague.webp")
                    div.character-select-button(data-killerID="15")
                        img(src="iconography/portraits/Ghostface.webp")
                    div.character-select-button(data-killerID="16")
                        img(src="iconography/portraits/Demogorgon.webp")
                    div.character-select-button(data-killerID="17")
                        img(src="iconography/portraits/Oni.webp")
                    div.character-select-button(data-killerID="18")
                        img(src="iconography/portraits/Deathslinger.webp")
                    div.character-select-button(data-killerID="19")
                        img(src="iconography/portraits/Executioner.webp")
                    div.character-select-button(data-killerID="20")
                        img(src="iconography/portraits/Blight.webp")
                    div.character-select-button(data-killerID="21")
                        img(src="iconography/portraits/Twins.webp")
                    div.character-select-button(data-killerID="22")
                        img(src="iconography/portraits/Trickster.webp")
                    div.character-select-button(data-killerID="23")
                        img(src="iconography/portraits/Nemesis.webp")
                    div.character-select-button(data-killerID="24")
                        img(src="iconography/portraits/Cenobite.webp")
                    div.character-select-button(data-killerID="25")
                        img(src="iconography/portraits/Artist.webp")
                    div.character-select-button(data-killerID="26")
                        img(src="iconography/portraits/Onryo.webp")
                    div.character-select-button(data-killerID="27")
                        img(src="iconography/portraits/Dredge.webp")
                    div.character-select-button(data-killerID="28")
                        img(src="iconography/portraits/Mastermind.webp")
                    div.character-select-button(data-killerID="29")
                        img(src="iconography/portraits/Knight.webp")
                    div.character-select-button(data-killerID="30")
                        img(src="iconography/portraits/SkullMerchant.webp")
                    div.character-select-button(data-killerID="31")
                        img(src="iconography/portraits/Singularity.webp")
                    div.character-select-button(data-killerID="32")
                        img(src="iconography/portraits/Xenomorph.webp")
                    div.character-select-button(data-killerID="33")
                        img(src="iconography/portraits/GoodGuy.webp")
            div#main-balance-window
                h2#selected-killer-title Selected Killer: {KILLER NAME}
                h2#selected-balance-title Selected Balance: {BALANCE NAME}
                h2#selected-role-header Survivor Builds
                div#survivor-builds-container(class="hide-component")
                    div.survivor-build-component
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Adrenaline.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Deliverance.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Hope.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Kinship.webp")
                        div.offering-slot(class="loadout-slot")
                            img(src="public/Offerings/Annotated-Blueprint.webp")
                        div.item-slot(class="loadout-slot")
                            img(src="public/Items/Flashlight.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="0")
                            img(src="public/Addons/Long-Life-Battery.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="1")
                            img(src="public/Addons/Low-Amp-Filament.webp")
                    div.survivor-build-component
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Adrenaline.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Deliverance.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Hope.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Kinship.webp")
                        div.offering-slot(class="loadout-slot")
                            img(src="public/Offerings/Annotated-Blueprint.webp")
                        div.item-slot(class="loadout-slot")
                            img(src="public/Items/Flashlight.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="0")
                            img(src="public/Addons/Long-Life-Battery.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="1")
                            img(src="public/Addons/Low-Amp-Filament.webp")
                    div.survivor-build-component
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Adrenaline.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Deliverance.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Hope.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Kinship.webp")
                        div.offering-slot(class="loadout-slot")
                            img(src="public/Offerings/Annotated-Blueprint.webp")
                        div.item-slot(class="loadout-slot")
                            img(src="public/Items/Flashlight.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="0")
                            img(src="public/Addons/Long-Life-Battery.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="1")
                            img(src="public/Addons/Low-Amp-Filament.webp")
                    div.survivor-build-component
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Adrenaline.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Deliverance.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Hope.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Kinship.webp")
                        div.offering-slot(class="loadout-slot")
                            img(src="public/Offerings/Annotated-Blueprint.webp")
                        div.item-slot(class="loadout-slot")
                            img(src="public/Items/Flashlight.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="0")
                            img(src="public/Addons/Long-Life-Battery.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="1")
                            img(src="public/Addons/Low-Amp-Filament.webp")
                div#killer-builds-container
                    div#killer-build-component
                        div.perk-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Perks/Killers/Agitation.webp")
                        div.perk-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Perks/Killers/Brutal-Strength.webp")
                        div.perk-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Perks/Killers/Enduring.webp")
                        div.perk-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Perks/Killers/Insidious.webp")
                        div.power-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Powers/Trapper.webp")
                        div.addon-slot(class="loadout-slot killer-perk-slot" data-addonSlot="0")
                            img(src="public/PowerAddons/Trapper/4-Coil-Spring-Kit.webp")
                        div.addon-slot(class="loadout-slot killer-perk-slot" data-addonSlot="1")
                            img(src="public/PowerAddons/Trapper/Bear-Oil.webp")
                div#import-export-button-container
                    button#import-button Import Loadout
                    button#export-button Export Loadout
                    button#generate-image-button Generate Image
                    button#clear-loadout-button Clear Loadout
            div#errors-window
                h1#error-panel-title Errors
                div#error-list-container(class="override-scrollbar")
        div#perk-search-container(class="background-blur" hidden="hidden")
            div#perk-search-module-container
                div.perk-search-bar-module
                    input#perk-search-bar(type="text", placeholder="Search Perks...")
                div#perk-search-results-module(class="override-scrollbar")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.webp")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.webp")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.webp")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.webp")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.webp")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.webp")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.webp")
                h3#perk-highlight-name Select a Perk...
        div#room-container(hidden="hidden")
            div#room-blur(class="background-blur")
                div#room-menu
                    h1 Room Menu
                    h2 Room Code: {ROOM CODE}
                    p You can share this code with your friends to create builds together!
                    input#room-code-input(type="text", placeholder="Enter Room Code...")
                    button#join-room-button Join Room
                    br
                    button#leave-room-button Leave Room
                    br
                    button#close-room-button Close
        div#settings-container(hidden="hidden")
            div#settings-blur(class="background-blur")
                div#settings-menu
                    h1 Settings Menu
                    label#balance-mode-label(for="balancing-select") Balancing Mode: 
                    select#balancing-select
                    br
                    label(for="custom-balancing-checkbox") Enable Custom Balancing?
                    input#custom-balancing-checkbox(type="checkbox")
                    br
                    textarea#custom-balance-select(class="override-scrollbar", placeholder="Enter Custom Balance JSON...", rows="15", hidden="hidden")
                    br
                    label(for="only-non-banned") Only show allowed Perks/Offerings/Items?
                    input#only-non-banned(type="checkbox")
                    br
                    span#save-loadouts-killer-container(hidden="hidden")
                        label(for="save-loadouts-killer") Auto-save Loadouts & Killer selected?
                        input#save-loadouts-killer(type="checkbox")
                        br
                    div#custom-error(class="error-flash-animation" hidden="hidden")
                        p Custom Balance JSON is invalid. Please verify your JSON <a href="https://jsonlint.com/" target="_blank">here</a>.
                    p Made by Kyle Starr and <span style="color:#30beff;cursor:pointer;text-decoration:underline;" onclick="DisplayCredits()">Contributors</span> (v1.1)
                    div#settings-button-container
                        button#settings-clear-storage-button Clear Settings
                        button#settings-cancel-button Close
        div#image-gen-container(hidden="hidden")
            div#image-gen-blur(class="background-blur")
                div#image-gen-menu
                    h1#image-gen-title Test
                    p#image-gen-message Test
                    img#image-gen-image(hidden="hidden")
                    div#image-gen-button-container
                        button#image-gen-ok-button OK
        div#alert-container(hidden="hidden")
            div#alert-blur(class="background-blur")
                div#alert-menu
                    h1#alert-title Test
                    p#alert-message Test
                    div#alert-button-container
                        button#alert-ok-button OK