html
    head 
        title Dead by Daylight Balance Checker
        link(rel="stylesheet", href="/stylesheets/balance-checker.css")
    body
        div#primary-balance-container
            div#balance-tabs-container
                div.tier-selector-button
                    img(src="iconography/Tiers.png")
                div.tier-selector-button
                    img(src="iconography/Killer.png")
                div.tier-selector-button
                    img(src="iconography/Settings.png")
            div#balance-character-select-container
                h1 Killer Selection
                div#character-select-grid
                    div.character-select-button
                        img(src="iconography/portraits/Trapper.png")
                    div.character-select-button
                        img(src="iconography/portraits/Wraith.png")
                    div.character-select-button
                        img(src="iconography/portraits/Hillbilly.png")
                    div.character-select-button
                        img(src="iconography/portraits/Nurse.png")
                    div.character-select-button
                        img(src="iconography/portraits/Huntress.png")
                    div.character-select-button
                        img(src="iconography/portraits/Shape Variant.png")
                    div.character-select-button
                        img(src="iconography/portraits/Doctor.png")
                    div.character-select-button
                        img(src="iconography/portraits/Hag.png")
                    div.character-select-button
                        img(src="iconography/portraits/Cannibal.png")
                    div.character-select-button
                        img(src="iconography/portraits/Nightmare.png")
                    div.character-select-button
                        img(src="iconography/portraits/Pig.png")
                    div.character-select-button
                        img(src="iconography/portraits/Clown.png")
                    div.character-select-button
                        img(src="iconography/portraits/Spirit.png")
                    div.character-select-button
                        img(src="iconography/portraits/Legion Full.png")
                    div.character-select-button
                        img(src="iconography/portraits/Plague.png")
                    div.character-select-button
                        img(src="iconography/portraits/Ghostface.png")
                    div.character-select-button
                        img(src="iconography/portraits/Demogorgon.png")
                    div.character-select-button
                        img(src="iconography/portraits/Oni.png")
                    div.character-select-button
                        img(src="iconography/portraits/Deathslinger.png")
                    div.character-select-button
                        img(src="iconography/portraits/Executioner.png")
                    div.character-select-button
                        img(src="iconography/portraits/Blight.png")
                    div.character-select-button
                        img(src="iconography/portraits/Twins.png")
                    div.character-select-button
                        img(src="iconography/portraits/Trickster.png")
                    div.character-select-button
                        img(src="iconography/portraits/Nemesis.png")
                    div.character-select-button
                        img(src="iconography/portraits/Cenobite.png")
                    div.character-select-button
                        img(src="iconography/portraits/Artist.png")
                    div.character-select-button
                        img(src="iconography/portraits/Onryo.png")
                    div.character-select-button
                        img(src="iconography/portraits/Dredge.png")
                    div.character-select-button
                        img(src="iconography/portraits/Mastermind.png")
                    div.character-select-button
                        img(src="iconography/portraits/Knight.png")
                    div.character-select-button
                        img(src="iconography/portraits/SkullMerchant.png")
                    div.character-select-button
                        img(src="iconography/portraits/Singularity.png")
                    div.character-select-button
                        img(src="iconography/portraits/Xenomorph.png")
            div#main-balance-window
                h2 Survivor Builds
                div.survivor-builds-container
                    div.survivor-build-component
                        div.perk-slot
                            img(src="public/Perks/Survivors/Adrenaline.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Deliverance.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Hope.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Camaraderie.png")
                    div.survivor-build-component
                        div.perk-slot
                            img(src="public/Perks/Survivors/Adrenaline.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Deliverance.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Hope.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Camaraderie.png")
                    div.survivor-build-component
                        div.perk-slot
                            img(src="public/Perks/Survivors/Adrenaline.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Deliverance.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Hope.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Camaraderie.png")
                    div.survivor-build-component
                        div.perk-slot
                            img(src="public/Perks/Survivors/Adrenaline.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Deliverance.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Hope.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Camaraderie.png")
        div#settings-container(hidden="hidden")
            div.background-blur
                div#settings-menu
                    h1 Settings Menu
                    label(for="balancing-select") Balancing Mode: 
                    select#balancing-select
                        option(value="OTF") Outrun The Fog (OTF)
                        option(value="DBDL") DBDLeague (DBDL)
                    br
                    br
                    p Made by Kyle Starr (v1.0)
                    div#settings-button-container
                        button#settings-save-button Save
                        button#settings-cancel-button Cancel