html
    head 
        title Dead by Daylight Balance Checker
        link(rel="stylesheet", href="/stylesheets/balance-checker.css")
        script(src="/scripts/balance-checker.js", type="text/javascript", defer="defer")
    body(onload="main()")
        div#primary-balance-container
            div#balance-tabs-container
                div.tier-selector-button
                    img(src="iconography/Tiers.png")
                div.tier-selector-button
                    img(src="iconography/Killer.png")
                div#settings-button(class="tier-selector-button")
                    img(src="iconography/Settings.png")
            div#balance-character-select-container
                h1 Killer Selection
                div#character-select-grid(class="override-scrollbar")
                    div.character-select-button(data-killerID="0")
                        img(src="iconography/portraits/Trapper.png")
                    div.character-select-button(data-killerID="1")
                        img(src="iconography/portraits/Wraith.png")
                    div.character-select-button(data-killerID="2")
                        img(src="iconography/portraits/Hillbilly.png")
                    div.character-select-button(data-killerID="3")
                        img(src="iconography/portraits/Nurse.png")
                    div.character-select-button(data-killerID="4")
                        img(src="iconography/portraits/Huntress.png")
                    div.character-select-button(data-killerID="5")
                        img(src="iconography/portraits/Shape Variant.png")
                    div.character-select-button(data-killerID="6")
                        img(src="iconography/portraits/Doctor.png")
                    div.character-select-button(data-killerID="7")
                        img(src="iconography/portraits/Hag.png")
                    div.character-select-button(data-killerID="8")
                        img(src="iconography/portraits/Cannibal.png")
                    div.character-select-button(data-killerID="9")
                        img(src="iconography/portraits/Nightmare.png")
                    div.character-select-button(data-killerID="10")
                        img(src="iconography/portraits/Pig.png")
                    div.character-select-button(data-killerID="11")
                        img(src="iconography/portraits/Clown.png")
                    div.character-select-button(data-killerID="12")
                        img(src="iconography/portraits/Spirit.png")
                    div.character-select-button(data-killerID="13")
                        img(src="iconography/portraits/Legion Full.png")
                    div.character-select-button(data-killerID="14")
                        img(src="iconography/portraits/Plague.png")
                    div.character-select-button(data-killerID="15")
                        img(src="iconography/portraits/Ghostface.png")
                    div.character-select-button(data-killerID="16")
                        img(src="iconography/portraits/Demogorgon.png")
                    div.character-select-button(data-killerID="17")
                        img(src="iconography/portraits/Oni.png")
                    div.character-select-button(data-killerID="18")
                        img(src="iconography/portraits/Deathslinger.png")
                    div.character-select-button(data-killerID="19")
                        img(src="iconography/portraits/Executioner.png")
                    div.character-select-button(data-killerID="20")
                        img(src="iconography/portraits/Blight.png")
                    div.character-select-button(data-killerID="21")
                        img(src="iconography/portraits/Twins.png")
                    div.character-select-button(data-killerID="22")
                        img(src="iconography/portraits/Trickster.png")
                    div.character-select-button(data-killerID="23")
                        img(src="iconography/portraits/Nemesis.png")
                    div.character-select-button(data-killerID="24")
                        img(src="iconography/portraits/Cenobite.png")
                    div.character-select-button(data-killerID="25")
                        img(src="iconography/portraits/Artist.png")
                    div.character-select-button(data-killerID="26")
                        img(src="iconography/portraits/Onryo.png")
                    div.character-select-button(data-killerID="27")
                        img(src="iconography/portraits/Dredge.png")
                    div.character-select-button(data-killerID="28")
                        img(src="iconography/portraits/Mastermind.png")
                    div.character-select-button(data-killerID="29")
                        img(src="iconography/portraits/Knight.png")
                    div.character-select-button(data-killerID="30")
                        img(src="iconography/portraits/SkullMerchant.png")
                    div.character-select-button(data-killerID="31")
                        img(src="iconography/portraits/Singularity.png")
                    div.character-select-button(data-killerID="32")
                        img(src="iconography/portraits/Xenomorph.png")
            div#main-balance-window
                h2#selected-killer-title Selected Killer: {KILLER NAME}
                h2 Survivor Builds
                div#survivor-builds-container
                    div.survivor-build-component
                        div.perk-slot
                            img(src="public/Perks/Survivors/Adrenaline.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Deliverance.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Hope.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Kinship.png")
                    div.survivor-build-component
                        div.perk-slot
                            img(src="public/Perks/Survivors/Adrenaline.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Deliverance.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Hope.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Kinship.png")
                    div.survivor-build-component
                        div.perk-slot
                            img(src="public/Perks/Survivors/Adrenaline.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Deliverance.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Hope.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Kinship.png")
                    div.survivor-build-component
                        div.perk-slot
                            img(src="public/Perks/Survivors/Adrenaline.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Deliverance.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Hope.png")
                        div.perk-slot
                            img(src="public/Perks/Survivors/Kinship.png")
            div#errors-window
                h1#error-panel-title Errors (3)
                div#error-list-container
                    div.error-list-item
                        div.error-header-container
                            img.error-icon(src="iconography/Error.png")
                            h1.error-title Perk Repetition
                        p Survivors 1, 4 have the same perk: Adrenaline - Note due to balancing, you may only have 1 copy of a perk per team.
                    div.error-list-item
                        div.error-header-container
                            img.error-icon(src="iconography/CriticalError.png")
                            h1.error-title Perk Duplicate
                        p Survivor 1 has two copies of Kinship.
                    div.error-list-item
                        div.error-header-container
                            img.error-icon(src="iconography/Error.png")
                            h1.error-title Banned Perk
                        p The perk Potential Energy is banned against The Singularity.
        div#perk-search-container(class="background-blur" hidden="hidden")
            div#perk-search-module-container
                div.perk-search-bar-module
                    input#perk-search-bar(type="text", placeholder="Search Perks...")
                div#perk-search-results-module(class="override-scrollbar")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.png")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.png")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.png")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.png")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.png")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.png")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.png")
                h3#perk-highlight-name Select a Perk...
        div#settings-container(hidden="hidden")
            div#settings-blur(class="background-blur")
                div#settings-menu
                    h1 Settings Menu
                    label(for="balancing-select") Balancing Mode: 
                    select#balancing-select
                        option(value="Custom") Custom
                    br
                    br
                    textarea#custom-balance-select(class="override-scrollbar", placeholder="Enter Custom Balance JSON...", rows="15", hidden="hidden")
                    br
                    div#custom-error(class="error-flash-animation" hidden="hidden")
                        p Custom Balance JSON is invalid. Please verify your JSON <a href="https://jsonlint.com/" target="_blank">here</a>.
                    p Made by Kyle Starr (v1.0)
                    div#settings-button-container
                        button#settings-cancel-button Close

