<!DOCTYPE html>
html
    head 
        title Balanced by Daylight: Balance Checker
        link(rel="stylesheet", href="/stylesheets/balance-checker.css")
        link(rel="icon", href="iconography/favicon.ico" type="image/x-icon")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js")

        script(src="/scripts/checker/checker-globals.js", type="text/javascript", defer="defer")
        script(src="/scripts/checker/checker-constants.js", type="text/javascript", defer="defer")

        script(src="/scripts/checker/checker-utility.js", type="text/javascript", defer="defer")
        script(src="/scripts/checker/checker-modal.js", type="text/javascript", defer="defer")
        script(src="/scripts/checker/checker-search.js", type="text/javascript", defer="defer")
        script(src="/scripts/checker/checker-events.js", type="text/javascript", defer="defer")
        script(src="/scripts/checker/checker-error-validation.js", type="text/javascript", defer="defer")
        script(src="/scripts/checker/checker-frontend.js", type="text/javascript", defer="defer")
        script(src="/scripts/checker/checker-resources.js", type="text/javascript", defer="defer")

        script(src="/scripts/checker/checker-main.js", type="text/javascript", defer="defer")

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body(onload="BeginResourceChain()")
        div#primary-balance-container
            div#balance-tabs-container
                div#role-swap-button(class="tier-selector-button")
                    img#role-swap-icon(src="iconography/Killer.webp")
                div#notes-button(class="tier-selector-button" onclick="GenerateNotesModal()")
                    img(src="iconography/Info.webp")
                div#maps-button(class="tier-selector-button" onclick="GenerateMapModal()")
                    img(src="iconography/Maps.webp")
                div#settings-button(class="tier-selector-button")
                    img(src="iconography/Settings.webp")
                div#discord-button(class="tier-selector-button" onclick="window.open('https://discord.gg/E6zfpwvCce', '_blank')")
                    img(src="iconography/Discord.webp")
                div.tier-selector-button(onclick="window.location.href = '/'")
                    img(src="iconography/Logo-Shadow.webp")
            div#balance-character-select-container
                h1 Killer Selection
                div#character-select-grid(class="override-scrollbar")
                    - var l = 10;
                    while l > 0
                        div.lazy-character-loader
                        - l--;
            div#main-balance-window
                h2#selected-balance-title Selected Balance: {BALANCE NAME}
                div.horizontal-flex
                    h2#selected-killer-title Selected Killer: {KILLER NAME}
                    img#anticamp-badge(src="iconography/Anticamp-Permitted.webp")
                h2#selected-role-header Survivor Builds
                div#survivor-builds-container(class="hide-component")
                    div.survivor-build-component
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Adrenaline.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Deliverance.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Hope.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Kinship.webp")
                        div.offering-slot(class="loadout-slot")
                            img(src="public/Offerings/Annotated-Blueprint.webp")
                        div.item-slot(class="loadout-slot")
                            img(src="public/Items/Flashlight.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="0")
                            img(src="public/Addons/Long-Life-Battery.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="1")
                            img(src="public/Addons/Low-Amp-Filament.webp")
                    div.survivor-build-component
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Adrenaline.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Deliverance.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Hope.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Kinship.webp")
                        div.offering-slot(class="loadout-slot")
                            img(src="public/Offerings/Annotated-Blueprint.webp")
                        div.item-slot(class="loadout-slot")
                            img(src="public/Items/Flashlight.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="0")
                            img(src="public/Addons/Long-Life-Battery.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="1")
                            img(src="public/Addons/Low-Amp-Filament.webp")
                    div.survivor-build-component
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Adrenaline.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Deliverance.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Hope.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Kinship.webp")
                        div.offering-slot(class="loadout-slot")
                            img(src="public/Offerings/Annotated-Blueprint.webp")
                        div.item-slot(class="loadout-slot")
                            img(src="public/Items/Flashlight.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="0")
                            img(src="public/Addons/Long-Life-Battery.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="1")
                            img(src="public/Addons/Low-Amp-Filament.webp")
                    div.survivor-build-component
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Adrenaline.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Deliverance.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Hope.webp")
                        div.perk-slot(class="loadout-slot")
                            img(src="public/Perks/Survivors/Kinship.webp")
                        div.offering-slot(class="loadout-slot")
                            img(src="public/Offerings/Annotated-Blueprint.webp")
                        div.item-slot(class="loadout-slot")
                            img(src="public/Items/Flashlight.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="0")
                            img(src="public/Addons/Long-Life-Battery.webp")
                        div.addon-slot(class="loadout-slot" data-addonSlot="1")
                            img(src="public/Addons/Low-Amp-Filament.webp")
                div#killer-builds-container
                    div#killer-build-component
                        div.perk-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Perks/Killers/Agitation.webp")
                        div.perk-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Perks/Killers/Brutal-Strength.webp")
                        div.perk-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Perks/Killers/Enduring.webp")
                        div.perk-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Perks/Killers/Insidious.webp")
                        div.power-slot(class="loadout-slot killer-perk-slot")
                            img(src="public/Powers/Trapper.webp")
                        div.addon-slot(class="loadout-slot killer-perk-slot" data-addonSlot="0")
                            img(src="public/PowerAddons/Trapper/4-Coil-Spring-Kit.webp")
                        div.addon-slot(class="loadout-slot killer-perk-slot" data-addonSlot="1")
                            img(src="public/PowerAddons/Trapper/Bear-Oil.webp")
                div#import-export-button-container
                    button#import-button Import Loadout
                    button#export-button Export Loadout
                    button#generate-image-button Generate Image
                    button#clear-loadout-button Clear Loadout
            div#errors-window
                h1#error-panel-title Errors
                div#error-list-container(class="override-scrollbar")
        div#perk-search-container(class="background-blur" hidden="hidden")
            div#perk-search-module-container
                div.perk-search-bar-module
                    input#perk-search-bar(type="text", placeholder="Search Perks...")
                div#perk-search-results-module(class="override-scrollbar")
                    div.perk-slot-result
                        img(src="public/Perks/Survivors/Adrenaline.webp")
                h3#perk-highlight-name Select a Perk...
        div#settings-container(hidden="hidden")
            div#settings-blur(class="background-blur")
                div#settings-menu
                    h1 Settings Menu
                    button#balancing-select-button Select a Preset...
                    br
                    label(for="custom-balancing-checkbox") Enable Custom Balancing?
                    input#custom-balancing-checkbox(type="checkbox")
                    br
                    textarea#custom-balance-select(class="override-scrollbar", placeholder="Enter Custom Balance JSON...", rows="15", hidden="hidden")
                    br
                    label(for="only-non-banned") Only show allowed Perks/Offerings/Items?
                    input#only-non-banned(type="checkbox")
                    br
                    label(for="auto-show-notes") Automatically show notes on change?
                    input#auto-show-notes(type="checkbox")
                    br
                    span#save-loadouts-killer-container(hidden="hidden")
                        label(for="save-loadouts-killer") Auto-save Loadouts & Killer selected?
                        input#save-loadouts-killer(type="checkbox")
                        br
                    label(for="enable-survivor-markers" hidden="hidden") Enable Survivor Markers?
                    input#enable-survivor-markers(type="checkbox" hidden="hidden")
                    br
                    div#custom-error(class="error-flash-animation" hidden="hidden")
                        p Custom Balance JSON is invalid. Please verify your JSON <a href="https://jsonlint.com/" target="_blank">here</a>.
                    p Made by Kyle Starr and <span style="color:#30beff;cursor:pointer;text-decoration:underline;" onclick="DisplayCredits()">Contributors</span> (v1.1)
                    div#settings-button-container
                        button#settings-clear-storage-button Clear Settings
                        button#settings-cancel-button Close
        div#balancing-select-container(hidden="hidden")
            div#balancing-select-blur(class="background-blur")
                div#balancing-select-menu
                    h1#balancing-select-title Balancing Select
                    p#balancing-select-subtitle Select your desired balancing preset from the options below:
                    input#balancing-select-search-input(type="search" placeholder="Search for Balancing Presets...")
                    div#balancing-select-options-container
                    button#balancing-select-close-button Cancel
        div#image-gen-container(hidden="hidden")
            div#image-gen-blur(class="background-blur")
                div#image-gen-menu
                    h1#image-gen-title Test
                    p#image-gen-message Test
                    img#image-gen-image(hidden="hidden")
                    div#image-gen-button-container
                        button#image-gen-ok-button OK
        div#alert-container(hidden="hidden")
            div#alert-blur(class="background-blur")
                div#alert-menu
                    h1#alert-title Test
                    p#alert-message Test
                    div#alert-button-container
                        button#alert-ok-button OK