<!DOCTYPE html>
html 
    head 
        title Balanced by Daylight
        link(rel="stylesheet", href="/stylesheets/index.css")
        link(rel="icon", href="iconography/favicon.ico" type="image/x-icon")
        <meta name="title" content="Balanced by Daylight">
        <meta name="description" content="A website to verify and create Dead by Daylight game loadouts to ensure compliance with most tournament organization's rules and competitive play.">
        <meta name="keywords" content="dead by daylight,dbd,loadout,balancing,dbd comp,competitive dbd,comp dbd,comp,bbd">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
    body 
        div#main-balance-container
            div#balance-window
                div#header-container
                    img#logo(src="/iconography/Logo-Shadow.webp")
                    h1 Welcome to Balanced by Daylight! 
                    h2 You can either check your builds' balance or create custom balancing rules!:
                div#buttons-container
                    div#choices-container
                        form(action="/balance-checker", method="get")
                            input(type="submit", value="Check Balance")
                        form(action="/balance-creator", method="get")
                            input(type="submit", value="Create Balance")
                    button#discord-button(onclick="window.open('https://discord.gg/E6zfpwvCce', '_blank')") Join the Discord