html 
    head 
        title Dead by Daylight Balance Checker
        link(rel="stylesheet", href="/stylesheets/style.css")
    body 
        h1 Welcome to the Balance Checker Tool! 
        h2 Please select whether you want to check balance or create it:
        form(action="/balance-checker", method="get")
            input(type="submit", value="Check Balance")
        form(action="/balance-creator", method="get")
            input(type="submit", value="Create Balance")