html 
    head 
        title Dead by Daylight Balance Checker
        link(rel="stylesheet", href="/stylesheets/index.css")
    body 
        div#main-balance-container
            div#balance-window
                h1 Welcome to Balanced by Daylight! 
                h2 You can either check your builds' balance or create custom balancing rules!:
                div#buttons-container
                    form(action="/balance-checker", method="get")
                        input(type="submit", value="Check Balance")
                    form(action="/balance-creator", method="get")
                        input(type="submit", value="Create Balance")