html
    head
        title Balanced by Daylight - Balance Creator
        link(rel="stylesheet", href="/stylesheets/base/root-style.css")
        link(rel="stylesheet", href="/stylesheets/new-balance-creator.css")
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
    body
        div#main-container
            div#primary-header
                div#header-branding
                    img#header-logo(src="iconography/Logo-Shadow.webp")
                    h1#header-title Balance Creator
                div#header-tabs
                    button.header-tab-button Tiers
                    button.header-tab-button Killers
                    button.header-tab-button Settings
                    button.header-tab-button Import/Export
            div#main-content
                h1 Primary Content