body {
    text-align: center;
    height: 100%;
    overflow-y: hidden;

    font-family: 'Roboto', sans-serif;
}

#column-flow-container {
    display: flex;
    align-items: flex-start;
}

.column-child {
    flex: 1;
    width: 40%;
}

.column-child:first-child {
    margin-right: 20px;
}

#left-column {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

#mid-column {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

#tier-selection-container {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#killer-selection-container {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#killer-override-offering-selection-container {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#killer-override-tier-selection-container {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selection-dropdown {
    width: 90%;
}

#killer-addon-container {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#killer-items-container {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

#map-selection-dropdown option {
    text-align: center;
    font-weight: 700;
}

#map-search-textbox {
    min-width: 300px;
}