body {
    text-align: center;
    height: 100%;
    overflow-y: hidden;
}

#column-flow-container {
    display: flex;
    align-items: flex-start;
}

.column-child {
    flex: 1;
    width: 40%;
}

.column-child:first-child {
    margin-right: 20px;
}

#left-column {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

#mid-column {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

#tier-selection-container {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#killer-selection-container {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selection-dropdown {
    width: 90%;
}