@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #100f16;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;

    text-align: center;
}

#buttons-container {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#buttons-container form {
    width: 100%;
    height: 100%;
}

form input {
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    color: #ffffff;
    outline: none;
    font-size: 3rem;
    font-weight: 900;

    border-style: solid;
    border-radius: 0px;
    border-color: #ffffff80;
    
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

form input:hover {
    background-color: #ffffff10;
    border-radius: 30px;
    border-color: #ffffffff;

    box-shadow: 0px 0px 50px #000;
    text-shadow: 0px 0px 50px #000;

    font-size: 3.2rem;
}

form input:active {
    background-color: #ffffff05;
    border-radius: 15px;
    border-color: #ffffffb0;

    box-shadow: 0px 0px 25px #000;
    text-shadow: 0px 0px 25px #000;

    font-size: 3.1rem;
}

#main-balance-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}